.add-form {
  margin-top: 20px;
  padding: 25px;
  background: var(--bg-card);
  border-radius: 12px;
  border: 1px dashed var(--bg-input);
}

.add-form h3 {
  color: var(--palestra);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.add-form input {
  background-color: var(--bg-app);
  color: var(--text-main);
  border: 1px solid var(--bg-input);
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.add-form input:focus {
  border-color: var(--palestra);
  outline: none;
}

.btn-save { 
  background-color: var(--palestra); 
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-weight: 800;
}

.btn-cancel { 
  background-color: var(--bg-input); 
  color: var(--text-main);
  padding: 12px;
  border-radius: 8px;
}
