<h2 class="section-title title-palestra">I miei Allenamenti</h2>

<app-workout-tabs 
  [schede]="schede" 
  [attivaIndex]="schedaAttivaIndex()" 
  (cambiaTab)="schedaAttivaIndex.set($event)" 
  (onAggiungiScheda)="aggiungiScheda($event)">
</app-workout-tabs>


@if (schedaCorrente) {
  <div class="header-scheda">
    <h2>Scheda: {{ schedaCorrente.nomeScheda }}</h2>

      <!-- Selettore Giorni Settimanali -->
      <div class="day-picker">
        @for (day of ['D', 'L', 'M', 'M', 'G', 'V', 'S']; track $index) {
          <button 
            class="day-chip" 
            [class.active]="schedaCorrente.giorniSettimana.includes($index)"
            (click)="toggleGiorno($index)">
            {{ day }}
          </button>
        }
      </div>

    <div class="header-actions">
      <button class="btn-reset-scheda" (click)="resettaSchedaCorrente()">Reset</button>
      <button class="btn-delete-scheda" (click)="rimuoviSchedaCorrente()">Elimina questa scheda</button>
    </div>
  </div>

  <div class="progress-container">
    <div class="progress-label">Progresso Allenamento: {{ percentualeCompletamento }}%</div>
    <div class="progress-bar-bg">
      <div class="progress-bar-fill" [style.width.%]="percentualeCompletamento"></div>
    </div>
  </div>

  <app-timer-widget></app-timer-widget>
  <hr>

<div cdkDropList (cdkDropListDropped)="onDrop($any($event))">
    @for (ex of schedaCorrente.esercizi; track ex.id) {
      <app-exercise-item 
        [esercizio]="ex" 
        cdkDrag
        (onToggle)="toggleCompletato(ex)" 
        (onElimina)="eliminaEsercizio(ex)">
        
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
      </app-exercise-item>
    } @empty {
      <p style="text-align: center; color: #666; margin: 20px 0;">
        Nessun esercizio presente. Aggiungine uno per iniziare!
      </p>
    }
  </div>

  <app-exercise-form (onAggiungi)="aggiungiEsercizio($event)"></app-exercise-form>

}
