<div class="exercise-card">
    <div class="drag-handle" cdkDragHandle>⠿</div>
    
    <div style="flex-grow: 1;">
        <strong class="exercise-name">{{ esercizio.nome }}</strong>
        
        <div class="edit-row">
            <span>Serie: <input type="number" [(ngModel)]="esercizio.serie" (blur)="notificaModifica()" class="inline-input"></span>
            
            <span>Ripetizioni: <input type="number" [(ngModel)]="esercizio.ripetizioni" (blur)="notificaModifica()" class="inline-input"></span>
            
            <span>Carico (Kg): <input type="number" [(ngModel)]="esercizio.carico" (blur)="notificaModifica()" class="inline-input"></span>
        </div>

        <div class="note-row">
            <input type="text" [(ngModel)]="esercizio.note" (blur)="notificaModifica()" placeholder="Aggiungi una nota..." class="note-input">
        </div>
    </div>
    
    <div class="actions">
        <button class="btn-status" 
                [class.completed]="esercizio.completato" 
                (click)="toggle()">
            {{ esercizio.completato ? 'Fatto' : 'Completa' }}
        </button>

        <button class="btn-delete" (click)="elimina()">🗑️</button>
    </div>
</div>
