<div class="summary-card">
  <!-- Cerchio Calorie -->
  <div class="calorie-chart">
    <svg viewBox="0 0 100 100">
      <circle class="circle-bg" cx="50" cy="50" r="45"></circle>
      <circle class="progress" cx="50" cy="50" r="45"
              [style.stroke-dashoffset]="282.6 * (1 - nutritionService.calProgress() / 100)"></circle>
    </svg>
    <div class="info">
      <span class="main-val">{{ nutritionService.currentCalories() }}</span>
      <span class="sub-val">kcal / {{ nutritionService.targetCalories() }}</span>
    </div>
  </div>

  <!-- Progress Bars Macro -->
  <div class="macro-bars">
  @for (macro of [
    { label: 'Proteine', val: nutritionService.currentProtein(), target: nutritionService.targetProtein(), pct: nutritionService.protProgress(), colorVar: '--color-prot' },
    { label: 'Carboidrati', val: nutritionService.currentCarbs(), target: nutritionService.targetCarbs(), pct: nutritionService.carbsProgress(), colorVar: '--color-carbs' },
    { label: 'Grassi', val: nutritionService.currentFat(), target: nutritionService.targetFat(), pct: nutritionService.fatProgress(), colorVar: '--color-fat' }
  ]; track macro.label) {
    <div class="macro-row">
      <div class="macro-labels">
        <span class="label-name">{{ macro.label }}</span>
        <span class="label-values">{{ macro.val }}g / {{ macro.target }}g</span>
      </div>
      <div class="bar-bg">
        <div class="bar-fill" 
             [style.background-color]="'var(' + macro.colorVar + ')'"
             [style.width.%]="macro.pct">
        </div>
      </div>
    </div>
  }
</div>



</div>
